* {box-sizing:border-box}
body{
    font: 400 $font-size-main $main-font-family;
    color: $color-text-main;
    line-height: 1.8;
    @extend .bg-off-white;
}
 
img{
    width: 100%;
    object-fit: cover;
 height: 100%;   
}
button,input{
    border: none;
}
svg{
    vertical-align: middle;
    width: 16px;
    margin: 0 3px;
    color: $color-text-main;
}
a{
    color: $color-text-main;
    text-decoration: none;
}

p,h1,h2,h3,figure, ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    
}
ul{
    padding-inline-start: 0;
}
figure{
    background: $light-gray;
    
}
figcaption{
    @extend .font-size-13;
    padding: 0 0 10px 10px; 
    
}
hr{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 0;
    border: none;
    border-bottom: 1px solid;
}




li {
    list-style: none;
}


h1{
    @extend .text-xxl;
    }
    
h2{
    @extend .text-xl;
}


h3{
    @extend .text-l;
    color: $color-text-dark;
}
