
.room-listing{
    &-text{
        width: 60%;
    }
    &-graphic{
        width: 40%;
    }
}
 .cta-section{
    background-image: url('https://i.ibb.co/m9bx4tr/beach-bg.jpg');
    padding: 100px 0;
    &-text{
width: 50%;
padding: 30px;
margin: auto;
.cta{
    margin-top: 10px;
}
    }
    
    h2{
        margin-bottom: 10px;
    }
    input[type=text]{
        border: 1px solid $color-accent-light;
        height: 38px;
        border-radius: 5px;
        
    }
    input[type=submit]{
        text-align: right;
    }
    
}


.list-style li{
    list-style:disc;
 

}
.testimonials{

    .fa-quote-right{
   display: block;
   margin-right: 0;
   text-align: right;
   }
   .fa{
       color: $color-accent-light;
     
   }
}


.best-examples{
    $best-examples-item-height: 300px;
     height: $best-examples-item-height*2 + 30px!important;
     margin-top: -97px;
     &-item{
         width: 40%;
         height: $best-examples-item-height;

     }
     
     &-item:nth-child(1){
        margin-top: 97px;
        
        width: 60%;
        height: 430px;
        padding-right: 30px;
     }
     &-item:nth-child(2){
        margin-bottom: 30px;
     }
     &-img{
        height: 100%;
        
     }
     &-img,&-description{
        border-radius: 20px;        
     }
     &-title{
font-size: 30px;
     }
    
     &-description{
         bottom: 20px;
         left: 20px;
         background: linear-gradient(
141deg
, white, #ffffffbd);
         
         padding: 20px;
     }
 .link-primary{
    margin-top: 10px;
 }
    }

.features{
        border-radius: 10px;
        
        @media (max-width: $mobile-width){
            box-shadow: none;
            padding: 0;
            border-radius: 0;
        }
        
    &-item{
    width: 23.5%;
    
    
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    
    text-align: center;
        @media (max-width: $mobile-width){
            
        }
    
    }
    
     &-icon-image{
         width: 55px;
         margin-bottom: 16px;
         @media (max-width: $mobile-width){
           margin-bottom: 6px;
        }
     }
     &-text{
    
        height: fit-content;
        
    
     }
        &-title{
    
        margin-bottom: 13px;
        @media (max-width: $mobile-width){
            margin-bottom: 6px;
         }
        }
        }

        
.footer{
            background-color: $color-accent-dark;
            color: #fff;
              font-size: 13px;
              padding: 50px;
          line-height: 2; 
              color: #fff;
        
              @media (max-width: $mobile-width){
                  padding: 0;
              }
                &-logo{
                    width:150px;
                    margin-bottom: 6px;
                @media (max-width: $mobile-width){
                    margin-bottom: 15px;
                    width: 177px;
                }
                }
                &-social{
                    margin-top: 12px;
                }
                &-zalo{
                    width: 26px;
                }
                &-facebook{
        font-size: 28px;
        vertical-align: super;
        margin-left: 6px;
                }
                &-bio{
          
          margin: auto;
         
          @media (max-width: $mobile-width){
            
            width: 210px;
        }
                }
               
                &-left{
                    width: 300px;
                    @media (max-width: $mobile-width){
                        padding:40px 4vw;
                    }
                }
                &-right{
                  
                    width: auto;
                    text-align: right;
                   
                    @media (max-width: $mobile-width){
                    
                    margin-top: 20px;
                    border-bottom: 1px solid gray;
                    
                    padding: 10px 4vw 40px 4vw;
                    }
                }
                &-left, &-right{
                    @media (max-width: $mobile-width){
                        width: 100%;
                        text-align: center;
                    
                        
                    }
                }
                &-flex{
                    @media (max-width: $mobile-width){
                        flex-direction: column-reverse;
                    }
                }
                &-info-title{
                    @media (max-width: $mobile-width){
                        font-size: 15px;
                        padding: 20px;
                        background: #0a0d35;
                    }
                }
                &-info-detail{
                    display: flex;
                    margin-top: 10px;
                    flex-direction: column;
                    @media (max-width: $mobile-width){
                       flex-direction: column-reverse;
                    }
                }
          }
  
          
.sub-list-background{
    min-width: 160px;
        border-radius: 4px;
        padding: 10px 0;
        z-index: 1;
        top: 33px;
        background-color: #fff;
        
        
  }

  
.desktop-nav{
    position: relative;
    z-index:1;
    height: 70px;
    &-logo{
        
        width: 100px;
    }
    &-wrapper{
        z-index: 2;
    

    }
    &-li{
        
        padding-left: 30px;
    line-height: 30px;
    height: 30px;
        
    }
    &-dropdown-li{
        
        padding: 10px 20px;
    
    }
    
}


.mobi-nav{
    &-child{
        width : 33%
    }
        padding: 12px;
        border-bottom: 1px solid $light-gray;
        &-menu-icon{
            width: 33%;
        }
        &-menu-icon{
            font-size: 23px;
        }
        &-logo{
            width   : 40px
        }
      
        
    }
    

    
article p{
    margin: 20px auto;
    font-size: 17px;
    @media (max-width: $mobile-width){
        margin: 10px auto;
    }
    }


    .about{
        &-graphic{
            width: 40%;
        }
        
        &-h2{
   margin-bottom: 16px;
        }
   
       .cta{
           margin-top: 20px;
       }
    }

    
 .section-title{
    font-size: 50px;
    
}
