.article-width{
    
    max-width: 800px;
    margin: auto;
 
}

.body-width{
    
    margin: 0 50px;
    max-width: $large-pc-width - 60px;
    @media (min-width: $large-pc-width){
        margin: auto;
    }
    @media (max-width: $tablet-width){
        margin: 0 30px;
    }
    @media (max-width: $mobile-width){
        margin: 0 20px;
    }
}




.width-30-percent{
    width: 30%;
}

.width-32-percent{
    width: 32%;
}
.width-40-percent{
    width: 40%;
}
.width-50-percent{
    width: 50%;
}
.width-60-percent{
    width: 60%;
}
.width-70-percent{
    width: 70%;
}
.width-100-percent{
    width: 100%;
}

.width-500{
    width: 500px;
}
.width-300{
    width: 300px;
}

.width-30{
    width: 30px;
}

.width-10{
    width: 10px;
}

.height-100{
    height: 100px;
   
}
.height-150{
    height: 150px;
   
}
.height-300{
    height: 300px;
   
}
.height-300-then-150{
    height: 300px;
       @media (max-width: $mobile-width){
           height: 150px;
       }
   }
.height-thumb{
    height: 15vw;
   
    @media (min-width: $large-pc-width){
        height: 180px;
    }
    @media (max-width: $tablet-width){
        height: 25vw ;
    }
    @media (max-width: $mobile-width){
        height: 50vw;
    }
    
}
.height-thumb-s{
    
   
    @media (min-width: $large-pc-width){
        height: 150px;
    }
    @media (max-width: $pc-width){
        height: 150px;
    }
    @media (max-width: $tablet-width){
        height: 150px;
    }
    @media (max-width: $mobile-width){
        height: 140px;
        
        
    }
    
    @media (max-width: $small-mobile-width){
        height: 160px;
        
        
    }
}

.height-thumb-l{
    
   
    @media (min-width: $large-pc-width){
        height: 150px;
    }
    @media (max-width: $pc-width){
        height: 150px;
    }
    @media (max-width: $tablet-width){
        height: 150px;
    }
    @media (max-width: $mobile-width){
        height: 300px;
        
    }
    
    @media (max-width: $small-mobile-width){
        height: 250px;
        
    }
}
.height-min-title{
    min-height: 55px;
    @media (max-width: $mobile-width){
    min-height: unset;;
    }
    }
.height-slider{
    height: 500px;
    @media (max-width: $mobile-width){
        height: 200px;
    }
}
.fit-contain{
    object-fit: contain;
}