.text-xxl{
    
    font:  700 30px $main-font-family;
    color: $color-text-dark;
    line-height: 1.4 ;   
 
    @media (max-width: $mobile-width){
        
        font: 700 22px $main-font-family;
        line-height: 1.8;
    }
    
}

.text-xl{
    font: 700 22px $main-font-family;
    color: $color-text-dark;
    line-height: 1.8 ;   

}
.text-l{
    font: 700 17px $main-font-family;
   
    line-height: 1.5;
}
.text-xl-then-shrink{
    font-size: 22px;
    @media (max-width: $mobile-width){
        font-size: $font-size-main;
    }
}

.font-size-12{
    font-size: 12px;
}
.font-size-13{
    font-size: 13px;
 }
 .font-size-15{
    font-size: 15px;
  }

  .font-size-17{
    font-size: 17px;
  }

  .font-size-22{
    font-size: 22px;
  }

  .font-size-24{
    font-size: 24px;
  }
  .font-size-30{
    font-size: 30px;
}

.font-weight-500{
    font-weight: 500;
  }
  
.font-weight-600{
    font-weight: 600;
  }
  
.font-weight-800{
    font-weight: 800;
}

.italic{
    font-style: italic;
}


.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
.text-center{
   text-align: center;
}
.text-center-mobile{
    @media (max-width: $mobile-width){
        text-align: center;
        }
}
.text-super{
    vertical-align: super;
}

.uppercase{
    text-transform: uppercase;
}
