.button-primary{
    box-sizing: border-box;
    max-height: 44px;
    @extend     .py-3;
    @extend       .px-5;
    @extend      .bg-accent;
    @extend .text-sm;
    @extend .tracking-wide;
    @extend .text-white;
    @extend .uppercase;
    @extend .font-semibold;
    &:hover{
        background: none;
        
        
        @extend .border-accent;
        @extend .text-accent;
        @extend .border-2
    }
}
.title-news{
    @extend .uppercase;
    // @extend  .font-light;
    @extend .text-2xl;
    @extend .tracking-wide;
    @extend .text-accent;
}
 .title-section{
@extend .font-serif;
@extend .text-4xl;
@extend .italic;

 }


.container {
 
padding-right: 15px;
    padding-left: 15px;
    
@media (max-width: 767px){
    padding-right: 30px;
    padding-left: 30px;
    
}
@media (min-width: 768px){
    width: 750px ;
}
  @media (min-width: 992px){
    width: 970px ;
}
   @media (min-width: 1200px){
    width: 1170px ;
}
 
}
.contact-form{
    background-image:url("https://i.ibb.co/DWG02Vd/contact-form.jpg")
}
.slider{
    background-image: url('https://i.ibb.co/84cCvHG/background.jpg')
}
.nav{
    height: 80px;
    margin-bottom: -80px;
}