<?- include('parts/header') ?>
<!-- <?- include('parts/desktop-nav') ?> -->
<?- include('parts/mobi-menu') ?>
<?- include('parts/slideshow') ?>



<h2 class="text-center pad-50-then-shrink">Welcome</h2>
<?- include('parts/features') ?>
<section class="mar-top-50">
    <?- include('parts/about-us-section') ?>
    </section>
    
<h2 class="text-center pad-50-then-shrink">Welcome</h2>
<?- include('parts/room-listing') ?>



<?- include('parts/gallery') ?>
<!-- <?- include('parts/best-examples') ?> -->

<h2 class="text-center pad-50-then-shrink">Welcome</h2>
<?- include('parts/testimonials') ?>

<div class="bg-off-white">
    <h2 class="text-center pad-50-then-shrink">Welcome</h2>
    <?- include('parts/news-card') ?>

</div>

<section class="">
    <?- include('parts/cta-section') ?>
</section>

<!-- <section class="bg-off-white">
    <h2 class="text-center pad-50-then-shrink">Welcome</h2>
    <div class="body-width">
        
        <?- include('parts/news-card-related') ?>
    </div>
</section> -->

<!-- <?- include('parts/article') ?> -->




<?- include('parts/footer') ?>