<div class="about  bg-gradient-white flex body-width">

    <div class="wide-on-mobile pad-50-then-shrink width-60-percent mar-auto about-text">
        <h3 class="about-h2">Homestay Minh Châu Quan Lạn – Viên ngọc xanh giữa biển trời xứ Quảng</h3>
        <p class="about-p">
            Đến với biến đảo Minh Châu cảnh quan hoang sơ tuyệt đẹp, homestay sẽ cung cấp cho quý khách nhưng dịch vụ
            tốt nhất, với phương châm luôn mang lại sự thỏa mãn của quý khách, và để lại những dấu ấn tốt đẹp nhất trong
            lòng Quý khách khi rời đảo
        </p>
        <div class="mar-top-20">
            <a class="bg-gradient-colorful button ">
                Liên hệ ngay
            </a>
            <a href="" class="link-primary underline-gradient mar-left-10">Giới thiệu</a>
        </div>
    </div>
    <div class="wide-on-mobile about-graphic">

        <img src="https://wecheckin.vn/wp-content/uploads/2018/07/bien-minh-chau-quan-lan.jpg" alt="" class="about-img">
    </div>
</div>