<section class="article-width bg-gradient-white pad-50-then-shrink">
    <div class="text-center margin-bot">
        <a class=" link-primary uppercase">Du lịch</a>
    </div>
    <article class=" mar-auto  ">
        <h1 class="text-center  mar-top-25 mar-bot-25">

            Những kênh ẩm thực theo trend "bỏ phố về quê" đầy thi vị, mùa dịch ở nhà ai thích nuôi cá, trồng rau thì
            nhấn subscribe ngay!
        </h1>
        <div class="font-size-13 mar-bot-30 text-center line-through-parent">
            <span class="line-through-text">
                <span class="dot dot-start"></span>
                Thứ sáu, 18/6/2021, 16:22 (GMT+7)
                <span class="dot dot-end"></span>
            </span>
            <div class="line-through"></div>
        </div>
        <img src="https://i.ibb.co/Y8GNFjB/a-16234282373271843559499.jpg" alt="">
        <p class="summary">
            Với mong muốn đưa ẩm thực vùng thôn quê Việt Nam đến gần hơn với giới trẻ, những kênh dưới đây luôn cố gắng
            đầu tư hết tâm huyết để mang đến cho khán giả những sản phẩm chất lượng nhất.
        </p>
        <div class="toc">

        </div>

        <h2>1. Ẩm Thực Mẹ Làm</h2>

        <p>Ẩm Thực Mẹ Làm là một kênh YouTube chuyên về ẩm thực vùng thôn quê với nhân vật chính là người phụ nữ đã ngấp
            nghé 60 tuổi - cô Dương Thị Cường. Sau hơn 2 năm hoạt động, kênh đã đạt hơn 938k subs và 100 triệu lượt xem,
            sắp chạm đến nút Vàng của YouTube.</p>


        <figure>
            <img src="https://i.ibb.co/vsxM41s/15-1623427895195417947000.jpg" alt="">
            <figcaption>Chân dung nhân vật chính xuất hiện trên kênh Ẩm Thực Mẹ Làm</figcaption>

        </figure>
        <p>Được biết, con trai của cô Dương Thị Cường chính là Đồng Văn Hùng - người trực tiếp lên ý tưởng cũng như thực
            hiện mọi quá trình quay, dựng video. Nhờ những góc quay tỉ mỉ, cách dẫn chuyện gần gũi bằng hình ảnh và âm
            thanh cùng sự đầu tư, thay đổi liên tục trong nội dung, giờ đây Ẩm Thực Mẹ Làm đã trở thành một trong những
            cái tên đình đám nhất cho phong trào làm YouTube "miệt vườn" tại Việt Nam.</p>




        <h2>2. Khói Lam Chiều</h2>
        <p>Đây là kênh YouTube của Nguyễn Mỹ Duyên (Nữ hoàng Trang sức năm 2017, đến từ Bến Tre). Cô chia sẻ mình lập
            kênh với mong muốn xoa dịu nỗi nhớ quê hương của những người con xa xứ, đồng thời quảng bá nét đẹp của ẩm
            thực miền Tây Nam Bộ. Xuất hiện từ năm 2015, đến nay Khói Lam Chiều là một trong những kênh YouTube về ẩm
            thực đình đám nhất khu vực miền Tây, đạt hơn 393k lượt đăng ký.</p>


        <p>Chủ nhân của kênh là một cô gái khá xinh đẹp đến từ Bến Tre. Ngay từ tên gọi, Khói Lam Chiều đã gợi nhớ cho
            chúng ta biết bao cảm xúc thân thương, bình dị của miền đồng quê. Ai xem kênh cũng ấn tượng với đôi bàn tay
            khéo léo và vẻ đẹp chân chất của Mỹ Duyên, đặc biệt là hàng loạt món ngon đậm chất dân dã miền Tây do chính
            tay cô gái làm ra như: cá lóc nướng ống tre, bún riêu cua đồng, bánh xèo sen, vịt nấu chao, lẩu mắm cá linh…
        </p>

        <h2>3. Anh Nông Dân</h2>
        <p>Chàng trai chất phác này tên thật là Quang Vinh, sinh năm 1993 và hiện đang sinh sống tại Hà Nội. Có xuất
            phát điểm là đầu bếp, Vinh chia sẻ về mục đích thành lập kênh: "Những món ăn truyền thống Việt Nam
            gần như đang dần bị lãng quên bởi vô vàn những món ăn nhanh mới du nhập. Mình muốn các bạn
            nhớ ra rằng Việt Nam cũng có rất nhiều món ngon cùng những thứ gia vị độc đáo không
            đâu sánh bằng."</p>
        <p>Các video trên kênh Anh Nông Dân bày cho người xem cách làm nhiều món ăn quen thuộc, dân dã với người Việt
            như cà muối, tôm rim tóp mỡ, cua đồng mồng tơi, cua đồng chiên lá lốt, ốc xào sả ớt, khoai lang nướng... Bên
            cạnh kênh YouTube hơn 100k subscribes, Quang Vinh còn sở hữu kênh TikTok đình đám đạt hơn 1,3 triệu follows.
        </p>

        <h2>4. Bếp Nhà Mình</h2>
        <p>Bếp Nhà Mình là nơi mà cô nàng Minh Ánh kể những câu chuyện thường ngày của mình cùng bà nội và các em tại
            một vùng quê Bắc Bộ. Qua bàn tay khéo léo của cô, người xem như được cùng cô sống và thưởng thức những bữa
            ăn giản dị của thôn quê. Xem video trên kênh mới thấy ngày 2 bữa được ra vườn trồng rau, nuôi cá, nấu ăn cho
            cả gia đình quả là cuộc sống hạnh phúc nhất.</p>




        <p>Lập kênh từ tháng 10/2019, nữ YouTuber bộc bạch về thông điệp mà cô muốn truyền tải qua những video: "Người
            miền Bắc chọn món ăn thanh đạm, nhẹ nhàng, có vị chua nhẹ. Lại có những món không phải là ăn để no những lại
            đem lại cho người ta nhiều háo hức. Đặc biệt, nó còn lưu giữ nhiều kỷ niệm đẹp trong tuổi thơ của mỗi người
            dân xứ Bắc".</p>

        <h2>5. Tô Tiểu Tường - Poon Home</h2>
        <p>Tô Tiểu Tường là một ví dụ điển hình cho trường hợp "bỏ phố về quê, mặc nhiên mà sống". Được biết, chủ nhân
            của kênh YouTube này vốn làm nghề kinh doanh trong một trung tâm thương mại tại Sài Gòn. Mùa dịch ập đến
            khiến việc buôn bán của anh trở nên khốn đốn. Không thể trụ nổi, chàng trai 30 tuổi quyết định rời bỏ phố
            thị nhộn nhịp nhất cả nước, dắt theo 2 chú mèo của mình cùng khăn gói về vùng quê Thái Bình để "nuôi cá,
            trồng rau", tập tành làm YouTube.</p>


        <p>Vì mùa dịch kéo dài, Tô Tiểu Tường quyết định... bỏ luôn phố thị để về quê nuôi cá, trồng rau</p>

        <p>Dù chỉ mới lập kênh thời gian gần đây nhưng những sản phẩm của Tô Tiểu Tường nhanh chóng chiếm được cảm tình
            của khán giả bởi lối dẫn dắt tự nhiên, thời lượng vừa phải, cách quay dựng thì cực kỳ chuyên nghiệp. Nhiều
            video như thu hoạch lặc lày, đi bắt cua đồng, thu hoạch bắp, hái vải… đều đạt lượng tương tác khá cao đối
            với một người mới chập chững bước vào con đường YouTube như anh.</p>
        <p>Chia sẻ về quyết định bỏ phố về quê lập nghiệp, nam YouTuber bộc bạch: "Đặc trưng kênh mình là… không có đặc
            trưng gì hết, vì mình làm văn hóa ẩm thực của tất cả các vùng miền Việt Nam. Tham vọng lớn nhất của mình là
            lan toả nét văn hoá - ẩm thực Việt đến với nhiều người nước ngoài. Sắp tới, mình sẽ làm thêm phụ đề khoảng 6
            - 9 ngôn ngữ để tiếp cận đa dạng khán giả hơn. Ngoài ra, với kinh nghiệm bán hàng trước đó thì mình sẽ giúp
            những người dân ở quê tiêu thụ các loại nông sản."</p>

        <p>Xem những kênh trên mới thấy, làm YouTube đối với họ chẳng đơn giản là công việc kiếm tiền. Trái lại, nó còn
            như một liều thuốc trị liệu cho tâm hồn khi hàng ngày họ được làm bạn với chó mèo, gà vịt, được nhìn cây cối
            lớn lên, thấy sâu phá hoại mùa màng mà đau lòng, nghe tiếng chim hót thảnh thơi và cũng bất lực khi ngày
            ngày phải sống dựa vào "sắc mặt" của ông trời.</p>

        <p>Với những người thành thị như chúng ta, mỗi ngày dài thường bắt đầu bằng việc dán mắt vào màn hình laptop,
            tối đến thì lại tiếp tục đến TV, smartphone. Nhưng đối với những YouTuber thôn quê kể trên, được hoà mình
            với thiên nhiên, tránh xa khói bụi và ồn ào của thành phố là mãn nguyện lắm rồi!</p>



    </article>


</section>
