<div class=" cta-section parallax body-width">
    <div class="mar-auto pad-50 width-500 wide-on-mobile bg-gradient-white">
        <h2>Liên hệ ngay để được ưu đãi tốt nhất</h2>
        <p>Liên hệ ngay đến Hotline 01234.567.890 để được tư vấn miễn phí hoặc để lại số điện thoại, chúng tôi sẽ gọi cho bạn ngay trong giây lát</p>
       <div class="flex mar-top-10">
        <button class="mar-top-10 bg-gradient-colorful button">Liên hệ ngay</button>
        <form class="mar-top-10" action="">
            
        <input type="text" name="" id=""> 
        
        <input type="submit" value="Gửi SĐT" class="border-colorful bg-white button">
        </form>
    </div>
    </div>
    
</div>