
<div class="desktop-nav-wrapper relative">
<nav class="desktop-nav flex body-width">
    
    <div class="desktop-nav-logo flex">
        <img class="mar-auto fit-contain" src="https://i.ibb.co/FhbYXNf/desktop-logo.png" alt="">
    </div>
    <ul class="desktop-nav-ul flex align-items-center">
        <li class="desktop-nav-li" >Trang chủ</li>
        <li class="desktop-nav-li" >Phòng</li>
        <li class="desktop-nav-li dropdown" >Hình ảnh
            <ul  class="dropdown-content-wrapper box-shadow sub-list-background b">
                 <li class="desktop-nav-dropdown-li">Phòng</li>
                 <li class="desktop-nav-dropdown-li">Bãi biển </li>   
                 <li class="desktop-nav-dropdown-li">Thực đơn</li>
            </ul>
        </li>
        <li class="desktop-nav-li" >Dịch vụ</li>
        <li class="desktop-nav-li" >Tin tức</li>
        <li class="desktop-nav-li" >Liên hệ</li>
        <li class="desktop-nav-li" >Giới thiệu</li>
        <li class="desktop-nav-li" ><button class="bg-gradient-colorful button"> Đăng ký ngay </button></li>
        
    </ul>

</nav>
</div>