<section class="nav lg:block hidden px-5 py-5">
    <div class="mx-auto flex justify-between text-sm text-white uppercase tracking-wider font-bold">
        <img class="w-32 object-contain" src="https://i.ibb.co/rbW27y6/desktop-logo-white.png" alt="">
        <div class="my-auto">
            <ul class="flex justify-between ">
                <li class="mx-4 my-auto">Về chúng tôi</li>
                <li class="mx-4 my-auto">Sản phẩm</li>
                <li class="mx-4 my-auto">Dịch vụ</li>
                <li class="mx-4 my-auto">Tin tức</li>
                <li class="mx-4 my-auto">Liên hệ</li>
                <button class="ml-4 button-primary">Gọi ngay</button>
            </ul>
        </div>
    </div>
</section>