<footer class="footer bg-dark">
    <div
        class="container mx-auto lg:pt-20  lg:pb-16 pt-14 pb-10 flex flex-col lg:flex-row text-grayText  justify-between ">
        <div class="lg:w-1/5 mb-5 leading-7">
            <img class="w-32" src="https://i.ibb.co/rbW27y6/desktop-logo-white.png" alt="">
            <p class="mt-8 w-3/4"> Số 14 ngõ 100 đường Nguyễn Trãi, phường Mỹ Đình, quận Nam Từ Liêm, Hà
                Nội,
                Việt
                Nam</p>
        </div>
        <div class="lg:w-1/5 mb-5">
            <p class="footer-social">
            <p class="uppercase text-white tracking-wider">Theo dõi chúng tôi</p>
            <div class="flex justify-between w-1/2 mt-5">
                <!-- <img class="w-7  footer-zalo" src="https://i.ibb.co/zbKsBJQ/zalo.png" alt=""> -->
                <i class="text-2xl fab fa-facebook"></i>
                <i class="text-2xl fab fa-twitter"></i>
                <i class="text-2xl  fab fa-youtube"></i>
                <i class="text-2xl  fab fa-instagram"></i>
            </div>

            <p class="uppercase text-white mt-10 tracking-wider">Chính sách</p>
            <p class="mt-2">Xem chính sách</p>
        </div>
        <div class="lg:w-1/5 mb-5 leading-7">
            <p class="uppercase text-white mb-2 tracking-wider">Dịch vụ</p>
            <p>Quảng cáo</p>
            <p>Sáng tạo nội dung</p>
            <p>Marketing</p>
            <p>Kĩ thuật số</p>
        </div>
        <div class="lg:w-1/5 mb-5">
            <p class="uppercase text-white mb-2 tracking-wider">Tin mới nhất</p>
            <p class="mb-3 w-3/4">10 bước xây dựng thương hiệu cơ bản nhất</p>
            <p class="mb-3 w-3/4">Cách xác định khách hàng mục tiêu</p>
        </div>

    </div>

</footer>
<script></script>
<script src="js/glide.min.js"></script>
<script src="js/mobi-menu.js"></script>
<script src="js/my-glide.js"></script>
</body>

</html>