<footer class="footer">
    <div class="body-width flex align-items-start footer-flex">
        <div class="footer-left ">
            <img class="footer-logo" src="https://i.ibb.co/rbW27y6/desktop-logo-white.png" alt="">

            <p class="footer-bio">

                100 Phạm Hùng, phường Mỹ Đình, quận Nam Từ Liêm, TP. Hà Nội
            </p>

        </div>
        <iframe class="map-google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119280.41003980661!2d107.44428276506332!3d20.891678220169876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314ba7b20cde8327%3A0x888a9f1a07b737c9!2sQuan%20Lan!5e0!3m2!1sen!2s!4v1625296517104!5m2!1sen!2s"  allowfullscreen="" loading="lazy"></iframe>
        <div class="footer-right">
            <p class="font-weight-800 footer-info-title"> Thông tin liên hệ</p>
            <div class="footer-info-detail">

                <p class="font-600">0123.456.7890 
                    <br/>
                    0123.333.9999</p>

                <p class="footer-social">

                    <img class="width-30 footer-zalo" src="https://i.ibb.co/zbKsBJQ/zalo.png" alt="">
                    <i class="fab fa-facebook footer-facebook"></i>

                </p>

            </div>
        </div>
        
    </div>
</footer>
<script src="js/glide.min.js"></script>
<script src="js/mobi-menu.js"></script>
<script src="js/my-glide.js"></script>
</body>

</html>