<footer class="footer bg-mainDark">
    <div class="container mx-auto py-4 flex  text-white  justify-between ">
        <div>
            <img class="w-20" src="https://i.ibb.co/rbW27y6/desktop-logo-white.png" alt="">
        </div>
        <div>
            <p class="footer-social">
            <p class="uppercase font-bold ">Theo dõi chúng tôi</p>
            <img class="w-10  footer-zalo" src="https://i.ibb.co/zbKsBJQ/zalo.png" alt="">
            <i class="fab fa-facebook footer-facebook"></i>

            </p>
        </div>

    </div>

</footer>
<script></script>
<script src="js/glide.min.js"></script>
<script src="js/mobi-menu.js"></script>
<script src="js/my-glide.js"></script>
</body>

</html>