<div class="off-canvas">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
    <i class="far fa-times-circle"></i>
  </a>


  <div class="accordion">Dịch vụ</div>
  <div class="accordion-child">
    <div class="accordion">Dịch vụ</div>
    <div class="accordion-child">
      <div class="accordion">Dịch vụ</div>
    </div>
  </div>


</div>


<div class="mobi-nav flex">
  <div class="mobi-nav-child"><i class="fa fa-bars mobi-nav-menu-icon" onclick="openNav()"></i></div>
  <div class="mobi-nav-child flex"><img class="mobi-nav-logo mar-auto" src="https://i.ibb.co/rbJGjyg/UEFA-Champions-League-logo.png" alt=""></div>
  <div class="mobi-nav-child"> <button class="bg-gradient-colorful button float-right"> Đăng ký ngay </button></div>
</div>