<div
  class="js-off-canvas w-0 bg-black text-accent  top-0 left-0   absolute z-10 overflow-x-hidden  transition duration-200 h-full">
  <a href="javascript:void(0)" class="closebtn absolute top-5 right-5 text-xl font-semibold" onclick="closeNav()">
    <i class="far fa-times-circle"></i>
  </a>
  <div class="pt-20 pl-10">

    <div class="js-accordion accordion">Dịch vụ</div>
    <div class="accordion-child">
      <div class="accordion js-accordion">Dịch vụ</div>
      <div class="accordion-child">
        <div class="accordion js-accordion">Dịch vụ</div>
      </div>
    </div>
  </div>

</div>


<div class="mobi-nav lg:hidden  h-12 px-5 bg-black text-accent flex justify-between ">


  <i class="fas fa-heartbeat text-4xl my-auto "></i>

  <i class="fa fa-bars text-xl my-auto " onclick="openNav()"></i>
</div>