<?
function shortenSentence(str, maxLength){
    if (str.length > maxLength){
        str = str.substr(0,maxLength)
        lastSpace = str.lastIndexOf(" ");
        str = str.substr(0,lastSpace) + '...';
    }
    return str;
}
?>
<div class="flex body-width">
    <?   for (item of news) { ?>
    <div class="wide-on-mobile mar-bot-20 text-center-mobile width-32-percent border-radius-10 bg-gradient-white wide-on-mobile-margin">
        <img class="border-radius-10 height-thumb" src="<?=item.img?>" alt="">
        <div class="pad-20">
        <p class="font-size-13 mar-bot-10  inline-block  font-600"> <?= item.date.getDate() + '-'+ ( item.date.getMonth() + 1) +'-'+ (item.date.getYear() + 1900) ?>
            </p>
      
        <h3 class="height-min-title   mar-bot-10">
            <?= shortenSentence(item.title,50) ?>
        </h3>
        <p class=" ">
            <?= item.snippet ?>
        </p>
    </div>
        
    </div>
    <? } ?>

</div>