<?
function shortenSentence(str, maxLength){
    if (str.length > maxLength){
        str = str.substr(0,maxLength)
        lastSpace = str.lastIndexOf(" ");
        str = str.substr(0,lastSpace) + '...';
    }
    return str;
}
?>
<div class="flex">
    <?   for (i=0;i<6;i++) { 
        let item = news[i];
        ?>


    <div class="wide-on-mobile height-thumb-s  flex mar-bot-20  width-32-percent  bg-gradient-white border-radius-10">
        
            <img class=" width-40-percent height-thumb-s border-radius-10" src="<?=item.img?>" alt="">
<div class=" width-60-percent   pad-top-10 pad-bot-10 pad-left-20 pad-right-10">
            <div>
                <a class="uppercase font-size-13  link-primary">
                    <?= item.category ?>
                </a>
            </div>
            <a class="font-weight-500">
                <?= shortenSentence(item.title,50) ?>
            </a>

        </div>
    </div>

    <? } ?>

</div>