<div class="bg-off-white mar-bot-50">
    <div class="flex room-listing body-width ">

        <? for (i =0; i<3; i++ ) { ?>
        <div class="wide-on-mobile border-radius-10 bg-gradient-white width-32-percent">
            <div class="relative">
            <img class="height-300" src="<?= bestExamples[0].img ?>" alt="">
            <div class=" pad-20 bg-gradient-white absolute bottom-20 width-100-percent flex font-size-24">
                <h3 class="uppercase mar-auto-0">Phòng ba</h3>
                <span class="price-tag  font-weight-600">500.000<span class="font-size-12 text-super">₫/ngày</span></span>
            </div>
        </div>
            <div class="pad-20">

                <ul class="mar-left-20  list-style">
                    <li> Phòng 3 giường</li>

                    <li> TV K+, quạt, điều hòa, tủ lạnh, tủ quần áo, nhà hàng, wifi.</li>
                    <li> Phòng tắm riêng với vòi hoa sen nước nóng lạnh.</li>
                    <li> Máy sấy tóc, bàn ghế ngồi uống nước.</li>
                </ul>

            </div>


        </div>

        <? } ?>
    </div>
</div>