//- template.pug
p #{name}'s Pug source code!
 <div class="container  py-16 text-white text-center text-bold mx-auto">
        <p class="tracking-wide mb-10 text-2xl font-semibold">Bạn muốn cải thiện tỉ lệ chuyển đổi và doanh thu?</p>

        <button class="button-primary">Đăng ký tư
            vấn miễn
            phí</button>

    </div>