.navigation.pagination 
{
    padding: 50px 0;
    margin: auto;
    width: fit-content;
    font-weight: 500;
    .page-numbers{
        padding: 10px;
    border: 1px solid $color_main_link;
    background: #fff;
    &.current{
        background: $color_main_link;
        color: #fff;
    }
    }
.screen-reader-text{
display: none;
}

}